* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

body {
    width: 100%;
    background-color: #ECF0F1;
}
 /** HEADER **/
header {
    background-color: #16A085;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    vertical-align: middle;


}

.sisu {
     width: 100%;
     display: inline-block;
     justify-content: center;
     align-items: center;
     vertical-align: middle;
     text-align: center;

 }

.example a{
    float: right;
    color: white;
    margin: 5px 10% 12px;
}

.example a:hover{
    color: #e47714;
}

.sisu h1{
    color: white;
    margin-top: 0px;
    margin-right: 12%;

}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 2px solid #EBEBEB;
    float: left;
    width: 80%;
    background: #EBEBEB;

}

form.example button {
    float: left;
    width: 10%;
    height: 10%;
    color: white;
    font-size: 17px;
    border: 1px solid #EBEBEB;
    border-left: none;
    cursor: pointer;
    background-color: #EBEBEB;
}

form.example button img{
    width: 100%;
    height: 100%;
    background-color:#EBEBEB;
}


#logo{
    margin-top: 0px;
    padding-left: 35px;
    width: 150px;
    float: left;
}


/** MAIN  INDEX**/

.box{
    width: 55%;
    height: 200px;
    background-color: #95A5A6;
    border: #95A5A6;
    box-sizing: border-box;
    margin: 30px auto;
    background-repeat: no-repeat;
    display: block;

}

.box h3{
    color: white;
    text-align: center;
    padding-top: 15px;
    margin-right: 40px;

}

.box h4 {
    color: white;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 10px;
}

.box p{
    color: white;
    text-align: left;
    line-height: 7px;
    margin-left: 10px;

}

.box img{
    width: 140px;
    margin-left: 20px;
    margin-top: 25px;
    float: left;

}
.description{
    margin-left: 190px;
}

.description a img:hover{
    width: 65px;
}

.plus_pic img{
    float: right;
    width: 60px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(102%) contrast(101%);
    padding-right: 30px;
    padding-top: 40px;
}

/** MAIN CHICKEN **/
.chicken-box{
    width: 600px;
    height: 1030px;
    background-color: #95A5A6;
    border: #95A5A6;
    box-sizing: border-box;
    margin: 30px auto;
    background-repeat: no-repeat;
    display: block;
}

.chicken-box img{
    opacity: 50%;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.header2{
    color: white;
    text-align: center;
}

.container2{
    text-align: center;
}

.circle{
    height: 80px;
    width: 110px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}

.circle p{
    color: white;
    line-height: 4px;
    margin-top: 25px;

}

.recipe p{
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 20px;
}

.comment-box{
    width: 500px;
    height: 100px;
    background-color: white;
    box-sizing: border-box;
    margin: 30px auto;
    background-repeat: no-repeat;
    display: block;
}

.user_pic img{
    float: left;
    background-color: #16A085;
    opacity: 100%;
    border-radius: 50%;
    width: 55px;
    padding: 10px 10px 10px 10px;
    margin-left: 40px;
    margin-top: 12px;
}

#comment{
    float: left;
    background-color: #C0C8C8;
    border: #C0C8C8;
    width: 300px;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    color: white;
}
.container3{
    margin-right: 120px;
    margin-top: 25px;
}

.stars img{
    width: 15px;
    display: inline-block;
    opacity: 100%;
    float: right;
}

/** FOOTER **/

footer {
    background-color: #16A085;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.info hr{

    width: 20px;
    height: 200px;
    background-color: #1ABC9C;
    margin-top: 2%;
    align-items: center;
    border: #1ABC9C;
}


.info {

    padding-bottom: 5px;
    display: flex;

}

.info div {
    float: left;
    width: 33.33%;
    flex-direction: column;
    margin-top: 2%;
    text-align: center;
    color: white;
}

.info div p{
    text-align: left;
    line-height: 7px;
    margin-left: 5%;
}

.info button{
    background-color: #1ABC9C;
    width: 60%;
    height: 40px;
    border: #1ABC9C;
}

.info button:hover{
    background-color: #e47714;
}

.info button p{
    padding: 0px;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    line-height: 0px;

}

.socialmedia-icons{
    text-align: center;
    margin-left: 33%;
}

.socialmedia-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    display: inline;
    overflow: hidden;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(102%) contrast(101%);

}

.socialmedia-icons img:hover{
    width: 40px;
    height: 40px;

}

